*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Nunito, sans-serif;
    transition: .2s linear;
    outline: none;
    border: none;
}

.container-footer {
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;

}

.footer-col {
    width: 100%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #E4E0BB;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e19e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #E4E0BB;
    padding-left: 8px;
}

.footer-col .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px;
    overflow: hidden;
    float: left;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    color: #E4E0BB;
    text-decoration: none;
}

.footer-col .social a:hover {
    color: #24262b;
    background-color: #E4E0BB;
}

@media only screen and (min-width: 768px) {
    .footer-col {
        width: 25%;
    }
}

@media only screen and (max-width: 767px) {
    .footer-col {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .footer-col {
        width: 100%;
    }
}