*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: white;}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E4E0BB;
    font-size: 1rem;
}

a:hover{
    color: #A06028;
}

/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
    background: black;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase ;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #E4E0BB;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #A06028;
    color:#E4E0BB;
    padding: 0.5rem 1rem;
    border:none;
    outline:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover{
    scale:1.05;
    color: #E4E0BB;
}

.action_btn:active{
    scale: 0.95;
}

/*DROPDOWN MENU */
.dropdown_menu{
    display:none ;
    position: absolute;
    right: 2rem;
    top:60px;
    height:0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;;
}

/*RESPONSIVE*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_men{
        left: 2rem;
        width: unset;
    }
}

/*HEADER*/
#showprod .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/sfondohome.webp");
    background-size: cover;
    background-position: center;
}

#showprod .container h1{
    color:#E4E0BB;
    font-size: 4.3rem;
    padding-bottom: 2rem;
}

#showprod .container p {
    color:#E4E0BB;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}
.color{
    color: #A06028;
}

.btn_prod{
    display: inline-block;
    font-size: 18px;
    color: #E4E0BB;
    background: black;
    padding: 13px 18px;
    border: none;
}

.btn_prod:hover{
    background: #A06028;
    color:black;
    transition: 0.3s;

}