*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: white;}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E4E0BB;
    font-size: 1rem;
}

a:hover{
    color: #A06028;
}

/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
    background: black;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase ;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #E4E0BB;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #A06028;
    color:#E4E0BB;
    padding: 0.5rem 1rem;
    border:none;
    outline:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover{
    scale:1.05;
    color: #E4E0BB;
}

.action_btn:active{
    scale: 0.95;
}

/*DROPDOWN MENU */
.dropdown_menu{
    display:none ;
    position: absolute;
    right: 2rem;
    top:60px;
    height:0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;;
}

/*RESPONSIVE*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_men{
        left: 2rem;
        width: unset;
    }
}

.container{
    padding: 1rem;
    /*border: 1px solid red;*/
    display: flex; /*allinea gli elementi uno di fianco all'altro*/
    flex-wrap: wrap; /*se ho un elemento in più va daccapo*/
    justify-content: space-around;
    align-items: center;
}
/*
#E4E0BB
#C8934F
#AE7349
#A0602B
#38271E
*/
.item{
    background: #C8934F;
    flex-basis: 30%; /*larghezza singolo elemento*/
    padding: 20px;
    margin-top: 50px;
    background-size: 200px;
    background-repeat:no-repeat; /*Fa si che l'immagine non venga ripetuta se la grandezza del button è maggiore dell'immagine*/
    background-position:center center; /*Fa si che l'immagine sia sempre al centro del button*/
    width: 200px;
    height: 300px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.item:hover {
    background: #AE7349;
    background-size: 205px;
    background-repeat:no-repeat; /*Fa si che l'immagine non venga ripetuta se la grandezza del button è maggiore dell'immagine*/
    background-position:center center; /*Fa si che l'immagine sia sempre al centro del button*/
}

.item#add_product{
    background-image: url('addProduct.png');
}

.item#manage_product{
    background-image: url('manageProduct.png');
}

.item#sold-out_products{
    background-image: url('sold-outProduct.png');
}

.item#orders{
    background-image: url('orders.png');
}

.item#users{
    background-image: url('users.png');
}

@media(max-width: 767px){
    .item{
        background: #C8934F;
        flex-basis: 50%; /*larghezza singolo elemento*/
        padding: 50px;
        background-size: 150px;
        background-repeat:no-repeat; /*Fa si che l'immagine non venga ripetuta se la grandezza del button è maggiore dell'immagine*/
        background-position:center center;
        width: 150px;
        height: 200px;
    }

    .item:hover{
        background: #AE7349;
        background-size: 155px;
        background-repeat:no-repeat; /*Fa si che l'immagine non venga ripetuta se la grandezza del button è maggiore dell'immagine*/
        background-position:center center; /*Fa si che l'immagine sia sempre al centro del button*/
    }
}