*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
}

img{
    /*border: 2px solid #38271E;*/
    width: 100%;
    display: block;
}

.main-wrapper{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/sfondologin.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    /*max-height: max-content;*/
}

.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr auto);
    background-color: #E4E0BB;
    border-radius: 3px;
    column-gap: 10px;
}

.product-div-left{
    border-right:2px solid  #38271E;
    padding: 20px;
}

.product-div-right{
    padding: 20px;
}

.img-container img{
    width: 300px;
    height: 80%;
    margin: 0 auto;
}

.product-div-right span{
    display: block;
}

.product-name{
    color: #38271E;
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-name i{
    color: #38271E;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.product-price{
    font-size: 24px;
    opacity: 0.9;
    font-weight: 400;
}

.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.product-rating span{
    margin-right: 6px;
}

.product-description{
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups{
    margin-top: 22px;
}

.btn-groups .add-cart-btn{
    border: 2px solid #A0602B;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: #A0602B;
    color: #E4E0BB;
    cursor: pointer;
    /*text-decoration: none;*/
    /*border-radius: 4px;*/
    text-transform: uppercase;
    transition: all .2s linear;
}

.btn-groups .add-cart-btn:hover {
    background-color: #E4E0BB;
    color: #A0602B;
}

/*.add-to-cart{*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    font-family: inherit;*/
/*    text-transform: uppercase;*/
/*    padding: 15px 16px;*/
/*    color: #E4E0BB;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease;*/
/*}*/

.btn-groups input .fas{
    margin-right: 8px;
}

.quantity{
    border: 2px solid #A0602B;
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: #A0602B;
    color: #E4E0BB;
}

.add-cart-btn {
    background-color: #A0602B;
    border: 2px solid #A0602B;
    margin-right: 8px;
}

.add-cart-btn:hover{
    background-color: #E4E0BB;
    color: #A0602B;
}

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }

    .product-div-right{
        text-align: center;
    }

    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}



@media screen and(max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 992px){
    .product-div{

    }
}
