* {
    box-sizing: border-box;
}

img.card-img {
    width: auto;
    /*height: auto;*/
}

.product {
    padding: 1rem;
    display: flex; /*allinea gli elementi uno di fianco all'altro*/
    flex-wrap: wrap; /*se ho un elemento in più va daccapo*/
    justify-content: center;
}

.box {
    margin: auto;
}

#product-img {
    margin-right: 5%;
}

#product-info {
    margin-left: 0px;
}

@media only screen and (max-width: 992px) {
    .box {
        width: 50%;
    }

    #product-img {
        margin-left: inherit;
        float: left;
    }

    #product-info {
        margin-left: auto;
        float: left;
    }
}

/*@media only screen and (max-width: 800px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 700px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 300px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    resize: none;
}

input[type=submit] {
    background-color: #AE7349;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A0602B;
}

input[type=submit]:active {
    background-color: #38271E;
}

.product {
    border-radius: 5px;
    background-color: #E4E0BB;
    padding: 20px;
    margin: 5% 10%;
}

#image:hover {
    background-color: #AE7349;
}