*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1, h2{
    color: #38271E;
}

h3{
    color: #38271E;
}

.btn{
    background: #38271E;
    color: #E4E0BB;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover{
    color: #38271E;
    background: #E4E0BB;
    padding: 3px 8px;
    border: 2px solid #38271E;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #38271E;
}

table{
    padding: 10px;
    border-bottom: 2px solid #38271E;

}

th, td{
    text-align: left;
    padding: 8px;
}

.side-menu{
    position: fixed;
    background: #E4E0BB;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color:#38271E;
    display: flex;
    align-items: center;
}

.side-menu li:hover{
    background: #38271E;
    color: #E4E0BB;
}

.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #bbbbbb;
}

.container .header{
    position: fixed;
    top:0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .admin-title{
    flex: 3;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/sfondologin.jpeg");
    background-size: cover;
    background-position: center;
}

.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: scale 0.2s ease;
}

.container .content .cards .card:hover{
    cursor: pointer;
    background:#E4E0BB;
    scale:1.05;
}

.container .content .cards .card:active{
    scale: 0.95;
}


.menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.menu a{
    display: block;
    color: #38271E;
    transition: .3s;
}

.action_btn{
    background-color: #A06028;
    color:#38271E;
    padding: 0.5rem 1rem;
    border:none;
    outline:none;
    border-radius: 1px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover{
    scale:1.05;
    color: #E4E0BB;
}

.action_btn:active{
    scale: 0.95;
}

.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students{
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}

/*MEDIA QUERY RESPONSIVE */

/*@media screen and(max-width: 1050px){*/
/*    .side-menu li{*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

/*@media screen and(max-width: 940px){*/
/*    .side-menu{*/
/*        align-items: center;*/
/*        font-size: 12px;*/
/*    }*/
/*    .brand-name h1{*/
/*        font-size: 8px;*/
/*    }*/
/*    .container .content .cards{*/
/*        justify-content: center;*/
/*    }*/
/*    .side-menu li{*/
/*        width: 30px;*/
/*        height: 30px;*/
/*    }*/

/*}*/

/*@media screen and(max-width: 536px){*/
/*    .brand-name h1{*/
/*        font-size: 8px;*/
/*    }*/
/*    .container .content .cards{*/
/*      justify-content: center;*/
/*    }*/
/*    .side-menu li{*/
/*        width: 30px;*/
/*        height: 30px;*/
/*    }*/

/*    .container .content .content-2 .recent-payments table th:nth-child(2),*/
/*    .container .content .content-2 .recent-payments table td:nth-child(2){*/
/*        display: none;*/
/*    }*/
/*}*/

