* {
    box-sizing: border-box;

}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../images/sfondologin.jpeg");
    background-size: cover;
    background-position: center;

}

input[type=text], input[type=number], input[type=file],select, textarea {
    width: 100%;
    padding: 12px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    /*box-sizing: border-box;*/
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}


input[type=submit] {
    background-color: #AE7349;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A0602B;
}

input[type=submit]:active {
    background-color: #38271E;
}

.container-info {
    max-width: 600px;
    height: auto;
    border-radius: 5px;
    background-color: #E4E0BB;
    padding: 2rem;
    margin: 2rem auto;
}

.inputbox{
    position: relative;
    width: 100%;
}

.inputbox input{
    width: 100%;
    padding: 10px;
    border: 1px solid #E4E0BB;
    background: #ffffff;
    outline: none;
    font-size: 1em;
    /*justify-content: center;*/
    /*align-items: center;*/
    transition: .5s;
}

.inputbox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    color: gray;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #A0602B;
    transform: translateX(10px) translateY(-3px);
    font-size: 0.85em;
    padding: 0 10px;
    background: transparent;
    font-weight: bold;
    border-left: 1px solid #A0602B;
    border-right: 1px solid #A0602B;
    letter-spacing: 0.2em;
}

.inputbox input:valid,
.inputbox input:focus{
    border: 1px solid #A0602B;
}


.add_product form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
}

.add_product h3{
    text-transform: uppercase;
    color: #38271E;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}


.btn_add{
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background: #A0602B;
    color: #E4E0BB;
    border:none;
    outline:none;
    font-weight: bold;
}

.btn_add:hover{
    scale:1.05;
    color: #38271E;
    transition: .2s ease-in-out;
}

.btn_add:active{
    scale: 0.95;
}

#image:hover {
    background-color: #AE7349;
}

@media screen and (max-width: 768px) {
    .container-info,
    .add_product form {
        padding: 1rem;
    }

    .add_product h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .inputbox span {
        font-size: 0.8em;
    }

    .btn_add {
        font-size: 1.5rem;
        padding: 0.8rem 2rem;
    }
}

@media screen and (max-width: 380px) {
    .container-info {
        margin: 1rem;
    }
    .btn_add{
        font-size: 1rem;
        align-items: center;
    }
}
