*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #E4E0BB;
}

html::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 1px;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../images/sfondologin.jpeg");
    background-size: cover;
    background-position: center;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E4E0BB;
    font-size: 1rem;
}

a:hover{
    color: #A06028;
}

/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
    background: black;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase ;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #E4E0BB;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #A06028;
    color:#E4E0BB;
    padding: 0.5rem 1rem;
    border:none;
    outline:none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover{
    scale:1.05;
    color: #E4E0BB;
}

.action_btn:active{
    scale: 0.95;
}

/*DROPDOWN MENU */
.dropdown_menu{
    display:none ;
    position: absolute;
    right: 2rem;
    top:60px;
    height:0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;;
}

/*RESPONSIVE*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

.cards-products{
    padding: 1rem;
    display: flex; /*allinea gli elementi uno di fianco all'altro*/
    flex-wrap: wrap; /*se ho un elemento in più va daccapo*/
    justify-content: center;
}

.card-product {
    margin: 5px 0px 5px 0px;
    padding: 0 6px;
    width: 15%;
}

div.card-body {
    background: #C8934F;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}


div.card-body img {
    width: 100%;
    height: 50%;
}

h4.card-title {
    padding: 0px;
    text-align: center;
}

div.card-price {
    padding: 0 15px 0px 15px;
    text-align: center;
}

.div-btn {
    padding: 5px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-card{
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    flex: 1 1 16rem;
    padding: 10px 15px;
    background-color: #A0602B;
    border: 2px solid #A0602B;
    color: #E4E0BB;
    transition: all .2s linear;
}

.btn-card:hover {
    background-color: #ffffff;
    border: 2px solid #A0602B;
    color: #A0602B;
    transition: all .2s linear;
}

@media only screen and (max-width: 1500px) {
    .card-product {
        width: 20%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 992px) {
    .card-product {
        width: 25%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 800px) {
    .card-product {
        width: 30%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 700px) {
    .card-product {
        width: 43%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .card-product {
        width: 75%;
    }
}
@media only screen and (max-width: 300px) {
    .card-product {
        width: 90%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}