* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../images/sfondologin.jpeg");
}

.tabular--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
}

.table-container{
    width: 50%;

}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: rgba(56,39,30,1);
    color: #E4E0BB;
}

th{
    padding: 15px;
    text-align: center;
}

tbody{
    background: #ffffff;
}

.ord-img{
    width: 50%;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #38271E;
}

tr:nth-child(even){
    background: #E4E0BB;
}

tfoot{
    background: rgba(56,39,30,0.5);
    font-weight: bold;
    color: #E4E0BB;
}

tfoot td{
    padding: 15px;
}


img.card-img {
    width: auto;
    /*height: auto;*/
}

.product {
    padding: 1rem;
    display: flex; /allinea gli elementi uno di fianco all'altro/
flex-wrap: wrap; /se ho un elemento in più va daccapo/
justify-content: center;
}
.add_prod_title{
    text-transform: uppercase;
    color: #38271E;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.update_product {
    border-radius: 5px;
    background-color: #E4E0BB;
    padding: 20px;
    margin: 5% 25%;
    display: flex; /*allinea gli elementi uno di fianco all'altro*/
    flex-wrap: wrap; /*se ho un elemento in più va daccapo*/
    justify-content: center;
}

.add_category{
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.btn_update{
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #A0602B;
    border: 2px solid  #E4E0BB;
    color: #E4E0BB;
    transition: all .2s linear;
}

.btnadd{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_update:hover{
    background-color: #E4E0BB;
    border: 2px solid #A0602B;
    color: #A0602B;
    transition: all .2s linear;
}

.btn_delete{
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: brown;
    border: 2px solid  #E4E0BB;
    color: white;
    transition: all .2s linear;
}

.btn_delete:hover{
    background-color: white;
    border: 2px solid brown;
    color: brown;
    transition: all .2s linear;
}

@media only screen and (max-width: 992px) {
    .box {
        width: 50%;
    }

    #product-img {
        margin-left: inherit;
        float: left;
    }

    #product-info {
        margin-left: auto;
        float: left;
    }
}

/*@media only screen and (max-width: 800px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 700px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 300px) {*/
/*    * {*/
/*        font-size: 150%;*/
/*}*/
/*}*/